<ion-view view-title="Login">
<ion-content class="padding">
    <div id="login-email">
   <label class="item item-input">
  <span class="input-label">Username</span>
  <input type="text">
</label>

  </div>

  <div id="login-password" >
    <label class="item item-input">
  <span class="input-label">Password</span>
  <input type="password">
</label>
  </div>



  <div id="login-error"></div>

  <div>
    <label class="spacing-label">&nbsp;</label>

    <button id="log-in-button" ng-click="redirect()">
      <span >Log in</span>
      <span ></span>
    </button>

    &nbsp;&nbsp;
    <a href="#" id="forgot-password-link">
      Forgot Password?
    </a>
  </div>
</ion-content>    
</ion-view>